<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ingresar
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="add"></ion-icon>  
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Tipo</ion-label>
      <ion-select placeholder="Seleccione tipo" okText="Aceptar" cancelText="Cancelar" [(ngModel)]="tipo">
        <ion-select-option value="peliculas">Pelicula</ion-select-option>
        <ion-select-option value="series">Serie</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Categoría</ion-label>
      <ion-select placeholder="Seleccione categoría" okText="Aceptar" cancelText="Cancelar" [(ngModel)]="categoria">
        <ion-select-option value="accion">Acción</ion-select-option>
        <ion-select-option value="ciencia">Ciencia ficción</ion-select-option>
        <ion-select-option value="comedia">Comedia</ion-select-option>
        <ion-select-option value="terror">Terror</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label position="stacked">Título</ion-label>
    <ion-input [(ngModel)]="titulo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Género</ion-label>
    <ion-input [(ngModel)]="genero"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">País</ion-label>
    <ion-input [(ngModel)]="pais"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Productora</ion-label>
    <ion-input [(ngModel)]="productora"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Sinopsis</ion-label>
    <ion-textarea [(ngModel)]="sinopsis"></ion-textarea>
  </ion-item>
  <ion-grid>
    <ion-row class="ion-margin">
      <ion-col class="ion-text-center">Clasificación:</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2" offset="1">
        <ion-icon name="star" color="warning"></ion-icon>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="star" color="warning"></ion-icon>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="star" color="warning"></ion-icon>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="star" color="warning"></ion-icon>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="star" color="warning"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2" offset="1">
        <ion-checkbox color="light" [(ngModel)]="uno" (ionChange)="verEstrellas1()"></ion-checkbox>
      </ion-col>
      <ion-col size="2">
        <ion-checkbox color="medium" [(ngModel)]="dos" (ionChange)="verEstrellas2()"></ion-checkbox>
      </ion-col>
      <ion-col size="2">
        <ion-checkbox color="secondary" [(ngModel)]="tres" (ionChange)="verEstrellas3()"></ion-checkbox>
      </ion-col>
      <ion-col size="2">
        <ion-checkbox color="primary" [(ngModel)]="cuatro" (ionChange)="verEstrellas4()"></ion-checkbox>
      </ion-col>
      <ion-col size="2">
        <ion-checkbox color="success" [(ngModel)]="cinco" (ionChange)="verEstrellas5()"></ion-checkbox>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" offset="2">
        <ion-button color="danger" expand="block" (click)="ingresar()">
          <ion-icon name="add" slot="start"></ion-icon>
          Ingresar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
