<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="people"></ion-icon>  
      </ion-button>
    </ion-buttons>
    <ion-title>Quienes somos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="https://firebasestorage.googleapis.com/v0/b/ip-series-y-peliculas.appspot.com/o/foto.jpg?alt=media&token=424dc7a2-b4c8-45b7-ac4e-a2cd438744f5"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Desarrollo de aplicaciones móviles</ion-card-subtitle>
      <ion-card-title>EPE 3 & EPE 4</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-icon name="people" size="large" slot="start"></ion-icon>
      <ion-label>Integrantes</ion-label>
    </ion-item>
    <ion-card-content>
      - Ariel Lizana<br>
      - Yirman Sereño
    </ion-card-content>
  </ion-card>
</ion-content>