<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Login</ion-title>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">IP Series Y Películas</ion-card-subtitle>
      <ion-card-title class="ion-text-center">LOGIN</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-icon name="mail" slot="start" size="smail"></ion-icon>
        <ion-label position="stacked">Correo</ion-label>
        <ion-input [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="key" slot="start" size="smail"></ion-icon>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="8" offset="2">
            <ion-button color="danger" expand="block" (click)="login()">
              <ion-icon name="person" slot="start"></ion-icon>
                Login
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
