<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Eliminar
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="trash"></ion-icon>  
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Seleccione contenido para eliminar</ion-list-header>
    <ion-item>
      <ion-label position="stacked">Tipo</ion-label>
      <ion-select placeholder="Seleccione tipo" okText="Aceptar" cancelText="Cancelar" [(ngModel)]="tipo" (ionChange)="verTipo()">
        <ion-select-option value="peliculas">Pelicula</ion-select-option>
        <ion-select-option value="series">Serie</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Categoría</ion-label>
      <ion-select placeholder="Seleccione categoría" okText="Aceptar" cancelText="Cancelar" [(ngModel)]="categoria" (ionChange)="verCategoria()">
        <ion-select-option value="accion">Acción</ion-select-option>
        <ion-select-option value="ciencia">Ciencia ficción</ion-select-option>
        <ion-select-option value="comedia">Comedia</ion-select-option>
        <ion-select-option value="terror">Terror</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Título</ion-label>
      <ion-select placeholder="Seleccione título" okText="Aceptar" cancelText="Cancelar" [(ngModel)]="id">
        <ion-select-option *ngFor="let titulo of titulos" value="{{titulo.id}}">{{titulo.titulo}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col size="8" offset="2">
        <ion-button color="danger" expand="block" (click)="eliminar()">
          <ion-icon name="trash" slot="start"></ion-icon>
          Eliminar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
